<mat-toolbar style="background-color: #8db7bb">
  <div>
    <span
      ><mat-icon
        ><a style="color: #e1f4ed" class="nav-link" href="#">menu</a></mat-icon
      ></span
    >
    <a class="navbar-brand" style="font-weight: 1000; font-size: 20px" href="#"
      ><button class="effect" style="background-color: #e1f4ed">
        <h1>My-app</h1>
      </button>
    </a>
  </div>

  <span class="gap"></span>
  <div class="navbar">
    <span style="font-weight: bold"
      ><a class="nav-link" routerLink="/products" routerLinkActive="active"
        ><button class="effect" style="background-color: #e1f4ed">
          <h1>Products</h1>
        </button></a
      ></span
    >
    <span style="font-weight: bold"
      ><a
        class="nav-link"
        routerLink="/product-details/1"
        routerLinkActive="active"
        ><button class="effect" style="background-color: #e1f4ed">
          <h1>Product-details</h1>
        </button></a
      ></span
    >
  </div>
</mat-toolbar>
